{
    "Caption": "/SAPAssetManager/Rules/Confirmations/ListView/ConfirmationsCountTitle.js",
    "OnReturning": "/SAPAssetManager/Rules/Confirmations/WorkOrderDetails/OnReturning.js",
    "OnLoaded": "/SAPAssetManager/Rules/Confirmations/WorkOrderConfirmationsForDateOnLoaded.js",
    "ActionBar": {
		"Items": [
            {
                "Position": "right",
                "Icon": "res://add",
                "OnPress": "/SAPAssetManager/Rules/Confirmations/CreateUpdate/ConfirmationCreateFromWONav.js"
            }
        ]
    },
    "Controls": [
        {
            "Sections": [
                {
                    "ObjectHeader": {
                        "HeadlineText": "{{#Property:OrderDescription}}",
                        "Subhead": "{{#Property:OrderId}}"
                    },
                    "_Type": "Section.Type.ObjectHeader",
                    "_Name": "ObjectHeaderSectionTable"
                },
                {
                    "_Name": "GridTableSection",
                    "_Type": "Section.Type.GridTable",
                    "Header": {
                        "Grid": {
                            "Items": [
                                {
                                    "Text": " "
                                },
                                {
                                    "Text": "$(L,operation)"
                                },
                                {
                                    "Text": "$(L,activity_type)"
                                },
                                {
                                    "Text": "$(L,start_time)"
                                },
                                {
                                    "Text": "$(L,end_time)"
                                },
                                {
                                    "Text": "$(L,duration)",
                                    "TextAlignment": "right"
                                }
                            ]
                        }
					},
                    "Row": {
                        "Layout": {
                            "ColumnWidth": [
                                15,
                                -1,
                                95,
                                95,
                                95,
                                70
                            ]
                        },
                        "Items": [
                            {
                                "Image": "/SAPAssetManager/Rules/Common/SyncIconOnGrid.js",
                                "BindTo": "detailImage"
                            },
                            {
                                "Text": "/SAPAssetManager/Rules/Confirmations/ListView/ConfirmationOperationDescription.js",
                                "Style": "GridTableTextBlack",
                                "BindTo": "headline"
                            },
                            {
                                "Text": "/SAPAssetManager/Rules/Confirmations/ListView/ConfirmationActivityType.js",
                                "Style": "GridTableTextBlack",
                                "BindTo": "subheadline"
                            },
                            {
                                "Text": "/SAPAssetManager/Rules/Confirmations/ListView/ConfirmationStartTimeDetails.js",
                                "Style": "GridTableTextBlack",
                                "BindTo": "footnote"
                            },
                            {
                                "Text": "/SAPAssetManager/Rules/Confirmations/ListView/ConfirmationEndTimeDetails.js",
                                "Style": "GridTableTextBlack",
                                "BindTo": "status"
                            },
                            {
                                "Text": "/SAPAssetManager/Rules/Confirmations/ListView/ConfirmationFormattedActualDuration.js",
                                "Style": "GridTableTextBlack",
                                "BindTo": "substatus",
                                "TextAlignment": "right"
                            }
                        ],
                        "AccessoryType": "disclosureIndicator",
                        "OnPress": "/SAPAssetManager/Actions/Confirmations/ConfirmationDetailsNav.action"
                    },
                    "Footer": {
                        "AttributeLabel": "/SAPAssetManager/Rules/Confirmations/ConfirmationTotalDuration.js",
                        "AccessoryType": "none",
                        "FooterStyle": "attribute"
                    },
                    "Target": {
                        "EntitySet": "Confirmations",
                        "Service": "/SAPAssetManager/Services/AssetManager.service",
                        "QueryOptions": "/SAPAssetManager/Rules/Confirmations/ListView/WorkOrderConfirmationsQueryOptions.js"
                    }
                }
            ],
            "_Type": "Control.Type.SectionedTable",
            "_Name": "TimeEntriesSection"
        }
    ],
    "_Type": "Page",
    "_Name": "WorkOrderConfirmationsForDate",
    "DataSubscriptions": ["Confirmations", "ConfirmationOverviewRows"]
}