{
    "Caption": "$(L,issue_part)",
    "OnLoaded": "/SAPAssetManager/Rules/Parts/Issue/CreateUpdate/PartIssueCreateUpdateOnPageLoad.js",
    "ActionBar": {
        "Items": [
            {
                "Position": "right",
                "SystemItem": "/SAPAssetManager/Rules/Common/Platform/DoneIcon.js",
                "Text": "/SAPAssetManager/Rules/Common/Platform/DoneText.js",
                "OnPress": "/SAPAssetManager/Actions/Parts/PartIssueCreateHeader.action"
            },
            {
                "Position": "left",
                "SystemItem": "Cancel",
                "OnPress": "/SAPAssetManager/Actions/Page/CancelPage.action"
            }
        ]
    },
    "Controls": [
        {
            "Sections": [
                {
                    "Controls": [
                        {
                            "Caption": "$(L,plant)",
                            "PlaceHolder": "",
                            "Value": "",
                            "_Name": "PlantSim",
                            "ReadOnly": true,
                            "IsEditable": false,
                            "_Type": "Control.Type.FormCell.SimpleProperty"
                        },
                        {
                            "Caption": "$(L,part)",
                            "PlaceHolder": "",
                            "Value": "",
                            "_Name": "MaterialSim",
                            "ReadOnly": true,
                            "IsEditable": false,
                            "_Type": "Control.Type.FormCell.SimpleProperty"
                        }
                    ]
                },
                {
                    "Controls": [
                        {
                            "AllowMultipleSelection": false,
                            "Search": {
                                "Enabled": true,
                                "Delay": 500,
                                "MinimumCharacterThreshold": 3,
                                "Placeholder": "$(L,search)",
				                "BarcodeScanner": true
                            },
                            "Caption": "$(L,storage_location)",
                            "PlaceHolder": "",
                            "Value": "{StorageLocation}",
                            "_Name": "StorageLocationLstPkr",
                            "_Type": "Control.Type.FormCell.ListPicker",
                            "IsPickerDismissedOnSelection": true,
                            "IsSearchCancelledAfterSelection": true,
                            "OnValueChange":"/SAPAssetManager/Rules/Parts/StorageLocationOnValueChange.js",
                            "PickerItems": {
                                "DisplayValue": "{{#Property:StorageLocation}} - {{#Property:StorageLocationDesc}}",
                                "ReturnValue": "{StorageLocation}",
                                "Target": {
                                    "EntitySet": "MaterialSLocs",
                                    "Service": "/SAPAssetManager/Services/AssetManager.service",
                                    "QueryOptions": "$filter=MaterialNum eq '{{#Property:MaterialNum}}' and Plant eq '{{#Property:Plant}}'"
                                }
                            }
                        },
                        {
                            "_Type": "Control.Type.FormCell.Switch",
                            "_Name": "AutoGenerateSerialNumberSwitch",
                            "Caption": "$(L,auto_generate_serial_numbers)",
                            "OnValueChange":"/SAPAssetManager/Rules/Parts/AutoSerializedSwitch.js",
                            "IsVisible": "/SAPAssetManager/Rules/Parts/Issue/SerialParts/SerialPartsAreAllowed.js"
                        },
                        {
                            "Caption": "$(L,serial_number)",
                            "PlaceHolder": "",
                            "Value": "$(L,auto_generate)",
                            "_Name": "AutoGenerateSingleProperty",
                            "IsEditable": false,
                            "IsVisible":false,
                            "_Type": "Control.Type.FormCell.SimpleProperty"
                        },
                        {
                            "_Name": "SerialNumLstPkr",
                            "_Type": "Control.Type.FormCell.ListPicker",
                            "Caption": "$(L,serial_number)",
                            "Search":
                            {
                                "Enabled": true,
                                "Delay": 500,
                                "MinimumCharacterThreshold": 3,
                                "Placeholder": "$(L,search)",
                                "BarcodeScanner": true
                            },
                            "IsVisible": "/SAPAssetManager/Rules/Parts/Issue/SerialParts/SerialPartsAreAllowed.js",
                            "IsPickerDismissedOnSelection" : true,
                            "IsSearchCancelledAfterSelection": true,
                            "AllowMultipleSelection": true,
                            "OnValueChange":"/SAPAssetManager/Rules/Parts/SerialNumberListPicker.js",
                            "PickerItems":
                            {
                                "ObjectCell":
                                {
                                    "Title": "{SerialNumber}"
                                },
                                "ReturnValue": "{SerialNumber}",
                                "Target":
                                {
                                    "EntitySet": "{{#Property:@odata.readLink}}/Material/SerialNumbers",
                                    "Service": "/SAPAssetManager/Services/AssetManager.service",
                                    "QueryOptions": "$expand=Material&$orderby=SerialNumber&$filter=Issued eq '' and StorageLocation eq '{{#Property:StorageLocation}}'"
                                }
                            }
                        },
                        {
                            "Caption": "$(L,quantity)",
                            "Value": "",
                            "_Name": "QuantitySim",
                            "_Type": "Control.Type.FormCell.SimpleProperty",
                            "IsEditable": true,
                            "KeyboardType": "Number"
                        },
                        {
                            "Caption": "$(L,uom)",
                            "Value": "{UnitOfMeasure}",
                            "_Name": "UOMSim",
                            "_Type": "Control.Type.FormCell.SimpleProperty"
                        }
                    ]
                }
            ],
            "_Name": "FormCellContainer",
            "_Type": "Control.Type.FormCellContainer"
        }
    ],
    "_Type": "Page",
    "_Name": "PartIssueCreateUpdatePage"
}