{
	"ActionBar":
	{
		"Items":
		[{
			"Position": "right",
			"SystemItem": "/SAPAssetManager/Rules/Common/Platform/DoneIcon.js",
            "Text": "/SAPAssetManager/Rules/Common/Platform/DoneText.js",
			"OnPress": "/SAPAssetManager/Actions/Notifications/Item/NotificationItemCauseCreateUpdateRequired.action"
		},
		{
			"Position": "left",
			"SystemItem": "Cancel",
			"OnPress": "/SAPAssetManager/Rules/Common/CheckForChangesBeforeCancel.js"
		}]
	},
	"OnLoaded" : "/SAPAssetManager/Rules/Notifications/Item/Cause/CreateUpdate/NotificationItemCauseCreateUpdateOnPageLoad.js",
	"Controls": [{
		"Sections":
		[{

			"Controls":
			[{
				"PlaceHolder": "$(L,cause_description)",
				"Value": "{CauseText}",
				"_Name": "DescriptionTitle",
				"_Type": "Control.Type.FormCell.Note"
			}]
		},
		{
			"Controls":
			[{
				"AllowMultipleSelection": false,
				"IsPickerDismissedOnSelection": true,
                "IsSearchCancelledAfterSelection": true,
				"Search": {
                  	"Enabled": true,
   	               	"Delay": 500,
					"MinimumCharacterThreshold": 3,
					"Placeholder": "$(L,search)",
					"BarcodeScanner": true
                },
				"Caption": "$(L,group)",
				"Value": "{CauseCodeGroup}",
				"PickerItems":
				{
					"DisplayValue" : "{{#Property:CodeGroup}} - {{#Property:Description}}",
					"ReturnValue": "{CodeGroup}",
					"Target":
					{
						"EntitySet" : "PMCatalogProfiles",
						"Service" : "/SAPAssetManager/Services/AssetManager.service",
						"QueryOptions" : "/SAPAssetManager/Rules/Notifications/Item/Cause/NotificationItemCauseGroupQuery.js"
					}
				},
				"OnValueChange" : "/SAPAssetManager/Rules/Notifications/Item/Cause/CreateUpdate/NotificationItemCauseCreateUpdateCode.js",
				"_Name": "GroupLstPkr",
				"_Type": "Control.Type.FormCell.ListPicker"
			},
			{
				"AllowMultipleSelection": false,
				"IsPickerDismissedOnSelection": true,
                "IsSearchCancelledAfterSelection": true,
				"Search": {
                   	"Enabled": true,
   	               	"Delay": 500,
					"MinimumCharacterThreshold": 3,
					"Placeholder": "$(L,search)",
					"BarcodeScanner": true
                },
				"Caption": "$(L,code)",
				"Value": "{CauseCode}",
				"PickerItems":
				{
					"DisplayValue" : "{{#Property:Code}} - {{#Property:CodeDescription}}",
					"ReturnValue": "{Code}",
					"Target":
					{
						"EntitySet" : "PMCatalogCodes",
						"Service" : "/SAPAssetManager/Services/AssetManager.service",
						"QueryOptions" : "/SAPAssetManager/Rules/Notifications/Item/Cause/CreateUpdate/NotificationItemCauseCodeQuery.js"
					}
				},
				"_Name": "CodeLstPkr",
				"_Type": "Control.Type.FormCell.ListPicker"
            }]
                },
        {
			"Controls":
			[{
			    "PlaceHolder": "$(L,note)",
                "_Name": "LongTextNote",
                "Value": "",
			    "_Type": "Control.Type.FormCell.Note",
				"IsVisible": "/SAPAssetManager/Rules/Common/IsOnCreate.js",
				"IsAutoResizing": true,
			    "IsEditable": true
			}]
		},
		{
			"Controls":
			[{
				"Title":  "$(L,discard)",
				"OnPress": "/SAPAssetManager/Rules/Common/DiscardAction.js",
				"IsVisible": "/SAPAssetManager/Rules/Common/IsDiscardButtonVisible.js",
				"_Type": "Control.Type.FormCell.Button",
				"_Name": "DiscardButton",
                "TextAlignment": "/SAPAssetManager/Rules/Common/Platform/ModalButtonAlign.js"
			}]
		}],
		"_Name": "FormCellContainer",
		"_Type": "Control.Type.FormCellContainer"
	}],
	"_Type": "Page",
	"_Name": "NotificationItemCauseAddPage"
}