{
	"ActionBar":
	{
		"Items":
		[{
			"Position": "right",
			"SystemItem": "/SAPAssetManager/Rules/Common/Platform/DoneIcon.js",
            "Text": "/SAPAssetManager/Rules/Common/Platform/DoneText.js",
			"OnPress": "/SAPAssetManager/Actions/Notifications/Item/NotificationItemCreateUpdateRequired.action"
		},
		{
			"Position": "left",
			"SystemItem": "Cancel",
			"OnPress": "/SAPAssetManager/Rules/Common/CheckForChangesBeforeClose.js"
		}]
	},
	"OnLoaded" : "/SAPAssetManager/Rules/Notifications/Item/CreateUpdate/NotificationItemCreateUpdateOnPageLoad.js",
	"Controls":
	[{
		"Sections":
		[{
			"Controls":
			[{
				"Caption": "$(L,notification_item)",
				"PlaceHolder": "$(L,item_description)",
				"Value": "/SAPAssetManager/Rules/Notifications/Item/NotificationItemDefaultName.js",
				"_Name": "NameTitle",
				"_Type": "Control.Type.FormCell.Note"
			}]
		},
		{
			"Controls":
			[{
				"AllowMultipleSelection": false,
				"IsPickerDismissedOnSelection": true,
                "IsSearchCancelledAfterSelection": true,
				"Search": {
                   	"Enabled": true,
   	               	"Delay": 500,
					"MinimumCharacterThreshold": 3,
					"Placeholder": "$(L,search)",
					"BarcodeScanner": true
                },
				"Caption": "$(L,part_group)",
				"Value" : "{ObjectPartCodeGroup}",
				"PickerItems":
				{
					"DisplayValue" : "{{#Property:CodeGroup}} - {{#Property:Description}}",
					"ReturnValue": "{CodeGroup}",
					"Target":
					{
						"EntitySet" : "PMCatalogProfiles",
						"Service" : "/SAPAssetManager/Services/AssetManager.service",
						"QueryOptions" : "/SAPAssetManager/Rules/Notifications/Item/NotificationItemPartGroupQuery.js"
					}
				},
				"OnValueChange" : "/SAPAssetManager/Rules/Notifications/Item/CreateUpdate/NotificationItemCreateUpdatePart.js",
				"_Name": "PartGroupLstPkr",
				"_Type": "Control.Type.FormCell.ListPicker"
			},
			{
				"AllowMultipleSelection": false,
				"IsPickerDismissedOnSelection": true,
                "IsSearchCancelledAfterSelection": true,
				"Search": {
                   	"Enabled": true,
   	               	"Delay": 500,
					"MinimumCharacterThreshold": 3,
					"Placeholder": "$(L,search)",
					"BarcodeScanner": true
                },
				"IsEditable" : false,
				"Caption": "$(L,part)",
				"Value" : "{ObjectPart}",
				"PickerItems":
				{
					"DisplayValue" : "{{#Property:Code}} - {{#Property:CodeDescription}}",
					"ReturnValue": "{Code}",
					"Target":
					{
						"EntitySet" : "PMCatalogCodes",
						"Service" : "/SAPAssetManager/Services/AssetManager.service",
						"QueryOptions" : "/SAPAssetManager/Rules/Notifications/Item/NotificationItemPartCodeQuery.js"
					}
				},
				"_Name": "PartDetailsLstPkr",
				"_Type": "Control.Type.FormCell.ListPicker"
			}]
		},
		{
			"Controls":
			[{
				"AllowMultipleSelection": false,
				"IsPickerDismissedOnSelection": true,
                "IsSearchCancelledAfterSelection": true,
				"Search": {
                   	"Enabled": true,
   	               	"Delay": 500,
					"MinimumCharacterThreshold": 3,
					"Placeholder": "$(L,search)",
					"BarcodeScanner": true
                },
				"Caption": "$(L,damage_group)",
				"Value" : "{CodeGroup}",
				"PickerItems":
				{
					"DisplayValue" : "{{#Property:CodeGroup}} - {{#Property:Description}}",
					"ReturnValue": "{CodeGroup}",
					"Target":
					{
						"EntitySet" : "PMCatalogProfiles",
						"Service" : "/SAPAssetManager/Services/AssetManager.service",
						"QueryOptions" : "/SAPAssetManager/Rules/Notifications/Item/NotificationItemDamageGroupQuery.js"
					}
				},
				"OnValueChange" : "/SAPAssetManager/Rules/Notifications/Item/CreateUpdate/NotificationItemCreateUpdateDamage.js",
				"_Name": "DamageGroupLstPkr",
				"_Type": "Control.Type.FormCell.ListPicker"
			},
			{
				"AllowMultipleSelection": false,
				"IsPickerDismissedOnSelection": true,
                "IsSearchCancelledAfterSelection": true,
				"Search": {
                   	"Enabled": true,
   	               	"Delay": 500,
					"MinimumCharacterThreshold": 3,
					"Placeholder": "$(L,search)",
					"BarcodeScanner": true
                },
				"IsEditable" : false,
				"Caption": "$(L,damage)",
				"Value" : "{DamageCode}",
				"PickerItems":
				{
					"DisplayValue" : "{{#Property:Code}} - {{#Property:CodeDescription}}",
					"ReturnValue": "{Code}",
					"Target":
					{
						"EntitySet" : "PMCatalogCodes",
						"Service" : "/SAPAssetManager/Services/AssetManager.service",
						"QueryOptions" : "/SAPAssetManager/Rules/Notifications/Item/NotificationItemDamageCodeQuery.js"
					}
				},
				"_Name": "DamageDetailsLstPkr",
				"_Type": "Control.Type.FormCell.ListPicker"
            }]
        },
        {
			"Controls":
			[{
			    "PlaceHolder": "$(L,note)",
                "_Name": "LongTextNote",
                "Value": "",
			    "_Type": "Control.Type.FormCell.Note",
				"IsVisible": "/SAPAssetManager/Rules/Common/IsOnCreate.js",
				"IsAutoResizing": true,
			    "IsEditable": true
			}]
		},
		{
			"Controls":
			[{
				"Title": "$(L,discard)",
				 "OnPress": "/SAPAssetManager/Rules/Common/DiscardAction.js",
				"IsVisible": "/SAPAssetManager/Rules/Common/IsDiscardButtonVisible.js",
				"_Type": "Control.Type.FormCell.Button",
				"_Name": "DiscardButton",
                "TextAlignment": "/SAPAssetManager/Rules/Common/Platform/ModalButtonAlign.js"
			}]
		}],
		"_Name": "FormCellContainer",
		"_Type": "Control.Type.FormCellContainer"
	}],
	"_Type": "Page",
	"_Name": "NotificationItemAddPage"
}